/* Начало основных стилей */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

main {
  background-color: #f1f7f9;
}

header {
  padding-top: 52px;
  background-image: url(../img/bg.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
}

section h2 {
  font-size: 1.875rem;
  text-align: center;
  color: #092f3e;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container  {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
}

/* Переопределяю параметр bootstrap класса, т.к из-за отрицательных
 значений в оригинале, появляется горизонтальный скролл */
.row {
  margin-left: 0;
  margin-right: 0;
}

.section-description__text {
  font-size: 1.0625rem;
  text-align: center;
}

.text__dark {
  color: rgba(9, 47, 62, 0.7);
}

.text__white {
  color: #ffffff;
}

.btn i {
  margin-left: 5px;
}

.btn-outline-primary {
  padding: 11px 19px 11px 29px;
  border: 2px solid #ffffff;
}

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-cyan {
  color: #15a2be;
  border-color: #15a2be;
}

.btn-primary {
  background-color: #1193be;
  background-image: linear-gradient(to right, rgba(33, 187, 189, 0.45), rgba(128, 145, 199, 0.45));
  border: none;
}

.carousel-control i {
  font-size: 3rem;
}

.carousel-control {
  width: 5%;
}

.carousel-item {
  padding-left: 2px;
}

.carousel-caption {
  position: initial;
  text-align: left;
}

.carousel-caption span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.8125rem;
}

.carousel-caption h5 {
  margin-bottom: 13px;
  padding-right: 50px;
  font-size: 1.875rem;
}

.carousel-caption p {
  margin-bottom: 1.9rem;
}

.carousel-control-next {
  right: -5%;
}

.carousel-control-prev {
  left: -5%;
}

.carousel-indicators {
  margin: 0;
  justify-content: flex-start;
  bottom: 71px;
  left: 16px;
}

.carousel-indicators li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* Конец основных стилей */

/* Начало стилей шапки */

.navbar {
  padding: 0.5rem;
  padding-left: 0.2rem;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-nav {
  padding-right: 31px;
}

.navbar .btn {
  padding: 0.375rem 1.1rem;
  background-color: #22b9c6;
  background-image: linear-gradient(to right, rgba(33, 187, 189, 0.45), rgba(128, 145, 199, 0.7));
  border: none;
}

.nav-item {
  margin-left: 25px;;
}

.nav-item .nav-link {
  color: #ffffff;
}

.dropdown-toggle::after {
  position: absolute;
  margin-left: 0;
  display: none;
  width: 80%;
  bottom: -12px;
  background-color: transparent;
  height: 15px;
  border: none;
  border-bottom: 2px solid #22b9c6;
}

.dropdown-toggle:hover::after,
.dropdown-toggle:focus::after {
  display: block;
}

.dropdown-menu {
  padding: 1rem 0rem;
  left: 8px;
  top: 122%;
  border: none;
  border-radius: 0;
  background-color: #1091be;
  background-image: linear-gradient(to right, #108fbe, #16a5be);
}

.dropdown-item {
  position: relative;
  padding: 0.5rem 1.8rem 0.6rem 3.9rem;
  color: #ffffff;
}

.dropdown-item svg {
  position: absolute;
  left: 18px;
  top: 6px;
  width: 29px;
  height: 29px;
  fill: #ffffff;
}

.dropdown-item:hover svg,
.dropdown-item:focus svg {
  fill: #000000;
}

.dropdown-item:active svg {
  fill: #ffffff;
}

header .carousel {
  padding-top: 118px;
  padding-bottom: 221px;
}

/* Конец стилей шапки */

/* Начало стилей блока "О нас" */

.about-block {
  padding: 52px 0 58px;
  background-color: #ffffff;
}

.about-block__title {
  margin-bottom: 1.2rem;
}

.about-block ul {
  padding: 15px 70px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.about-block .btn {
  display: block;
  margin: 0 auto;
}

/* Конец стилей блока "О нас" */

/* Начало стилей блока "Направление фирмы" */

.directions-block {
  margin-top: 55px;
  flex-direction: column;
  align-items: center;
}

.directions-block__title {
  margin-bottom: 15px;
  width: 100%;
}

.direction-block__toggle-wrapper {
  margin: 0 auto;
  list-style: none;
  display: flex;
}

.direction-block__toggle-wrapper li {
  padding: 7px 0;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(9, 47, 62, 0.15);
}

.direction-block__toggle-wrapper li.active {
  border-color: #15a2be;
}

.direction-block__toggle-link {
  font-size: 1.25rem;
  color: rgba(9, 47, 62, 0.5);
}

.direction-block__toggle-wrapper li.active .direction-block__toggle-link {
  color: #15a2be;
}

.services__list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.services__list li {
  margin-bottom: 5px;
  width: 33%;
  background-color: #ffffff;
}

.services__list div {
  padding: 50px 50px 14px;
  text-align: center;;
  z-index: 1;
}

.main-page .services__list li:last-child div {
  padding: 83px 43px 37px;
}

.services__list li:hover {
  box-shadow: 0 0 30px 0 rgba(41, 67, 90, 0.2);
  z-index: 10;
}

.services__list svg {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  width: 60px;
  height: 60px;
}

.services__list a {
  font-size: 1.0625rem;
  color: #15a2be;
}

.services__list span {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 42px;
  width: 8px;
  height: 8px;
  border: 2px solid #a9bac8;
  border-radius: 5px;
}

.services__list span::before,
.services__list span::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 12px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #a9bac8;
  border-radius: 5px;
}

.services__list span::before {
  left: -17px;
}

.technology-block {
  margin-top: 100px;
  padding-top: 53px;
  padding-bottom: 58px;
  background-color: #ffffff;
}

/* Конец стилей блока "Направление фирмы" */

/* Начало стилей блока "Используемые технологии" */

.technology-block__title {
  margin-bottom: 45px;
}

.technology-block__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.technology-block__list li {
  width: 20%;
}

.technology-block__list li:first-child {
  margin-bottom: 10px;
}

.technology-block__list li:nth-child(5n) {
  width: 9%;
}

.technology-block .btn {
  display: block;
  margin: 0 auto;
}

/* Конец стилей блока "Используемые технологии" */

/* Начало стилей блока "Карьера" */

.career-block {
  padding-top: 56px;
  padding-bottom: 76px;
  margin-bottom: 54px;
  background-image: linear-gradient(to right, #1fbcbd, #878ec8);
}

.career-block__title {
  margin-bottom: 37px;
  color: #ffffff;
}

.career-block__text {
  margin-bottom: 55px;
}

.career-block__list {
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.career-block__list li {
  width: 19%;
  padding: 53px 24px 29px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-align: center;
}

.career-block__list li:hover,
.career-block__list li:focus {
  border-color: #ffffff;
}

.career-block__list svg {
  margin: 0 auto;
  margin-bottom: 36px;
  display: block;
  fill: #ffffff;
  width: 60px;
  height: 60px;
}

.career-block__list a {
  color: #ffffff;
}

.career-block__list span {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  line-height: 9px;
}

.career-block .btn {
  display: block;
  margin: 0 auto;
}

/* Конец стилей блока "Карьера" */

/* Начало стилей блока "Отрасли" */

.industry-block {
  padding-bottom: 105px;
}

.industry-block__title {
  margin-bottom: 28px;
}

.industry-block__text {
  margin-bottom: 74px;
}

.industry-carousel ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.industry-carousel ul>li {
  width: 24%;
}

.industry-carousel li svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
  width: 60px;
  height: 60px;
  fill: #092f3e;
}

.industry-carousel li p {
  padding: 0 30px;
  text-align: center;
  color: #092f3e;
}

.industry-carousel .carousel-indicators {
  justify-content: center;
  bottom: -42px;
}

.industry-carousel .carousel-control {
  color: #15a2be;
}

.industry-carousel .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.1);
}

.industry-carousel .carousel-indicators li.active {
  background-color: #15a2be;
}

/* Конец стилей блока "Отрасли" */

/* Начало стилей блока "Портфолио" */

.portfolio-block {
  padding-top: 55px;
  padding-bottom: 65px;
  margin-bottom: 55px;
  background-color: #ffffff;
}

.portfolio-block .container {
  padding: 0;
}

.portfolio-block__title {
  margin-bottom: 29px;
}

.portfolio-block__text {
  margin-bottom: 58px;
}

.portfolio-block__list {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-block__list li {
  position: relative;
}

.portfolio-block__list li:first-child {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.portfolio-block__list .image__caption {
  position: absolute;
  padding: 30px 43px 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.portfolio-block__list .image__caption h3 {
  font-size: 1.25rem;
  color: #15a2be;
  text-transform: uppercase;
}

.portfolio-block__list .image__caption p {
  font-size: 1.0625rem;
}

.small-image__caption-wrapper {
  margin-top: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.portfolio-carousel .carousel-control {
  color: #15a2be;
}

.portfolio-carousel .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio-carousel .carousel-indicators li.active {
  background-color: #15a2be;
}

.portfolio-carousel .carousel-indicators {
  bottom: -23px;
  left: 13px;
}

.portfolio-block .btn {
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

.portfolio-block table {
  margin-top: 132px;
  width: 100%;
}

.portfolio-block table th,
.portfolio-block table td {
  width: 25%;
  text-align: center;
}

.portfolio-block table th {
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: #15a2be;
}

.portfolio-block table td {
  color: rgba(9, 47, 62, 0.8);
}

/* Конец стилей блока "Портфолио" */

/* Начало стилей блока "Новости" */

.news-block {
  padding-bottom: 106px;
}

.news-carousel h3 {
  font-size: 1.25rem;
  color: #15a2be;
}

.news-carousel article {
  padding: 9px 43px;
}

.news-carousel time {
  display: inline-block;
  margin-bottom: 13px;
}

.news-carousel p {
  line-height: 1.6rem;
}

.news-carousel .carousel-control {
  color: #15a2be;
}

.news-carousel .carousel-indicators {
  justify-content: center;
  bottom: -46px;
  left: 0;
}

.news-carousel .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.1);
}

.news-carousel .carousel-indicators li.active {
  background-color: #15a2be;
}

/* Конец стилей блока "Новости" */

footer {
  background-image: linear-gradient(to right, #26b9be, #7c93c7);
}

/* Начало стилей блока "Ссылки сайта" */

.site-links-block {
  padding: 74px 0 64px;
}

.site-links-block a {
  display: inline-block;
  line-height: 1rem;
  font-size: 0.875rem;
  color: #ffffff;
}

.site-links-block .in-row li {
  margin-bottom: 9px;
}

.site-links-block .in-row li:first-child {
  padding-bottom: 8px;
  margin-bottom: 0;
}

.site-links-block li:first-child a {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.site-links-block .in-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-links-block .in-row ul {
  margin: 0;
  padding: 0;
  padding-right: 85px;
  width: 40%;
  list-style: none;
}

.site-links-block .in-row ul:last-child {
  width: 20%;
  padding-right: 0;

}

.site-links-block .in-column {
  padding-left: 80px;
}

.site-links-block .in-column ul {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  list-style: none;
}

.site-links-block .in-column li {
  margin-bottom: 9px;
}

/* Конец стилей блока "Ссылки сайта" */

/* Начало стилей блока "Информация о компании" */

.company-info__wrapper {
  padding-top: 59px;
  padding-bottom: 36px;
  border-top: 1px solid rgba(241, 247, 249, 0.2);
}

.company-info {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-info__wrapper p,
.company-info__wrapper a {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.1rem;
}

.copyright-block a {
  display: inline-block;
  margin-left: 32px;
}


/* --------------- Страница "Услуги" --------------- */


/* Начало стилей для шапки */

.services header {
  background-image: none;
}

.services header::after {
  background-image: linear-gradient(to right, #0a4451, #0f3b53);
  z-index: -2;
}

.services header::before {
  background-image: url('../img/services-bg.jpg');
  background-position: -75px -130px;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.services header::after,
.services header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.logo-link {
  display: block;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1.75rem 0.3rem;
  background-color: transparent;
}

.breadcrumb a,
.breadcrumb .active {
  color: #ffffff;
  font-size: 0.8125rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\\";
  color: #ffffff;
}

/* Конец стилец для шапки */

/* Начало стилей блока "Услуги" */

.services .services-block {
  margin-bottom: 145px;
  padding-top: 30px;
}

.services .services-block h2 {
  margin-bottom: 14px;
  text-align: left;
}

.services .services__list li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 202px;
}

.services .services__list div {
  width: 33%;
}

.services__list .service-description {
  padding: 47px 41px 20px;
  width: 67%;
  text-align: left;
  opacity: 0.7;
}

.services__list li:hover .service-description {
  opacity: 1;
}

/* Конец стилей блока "Услуги */

/* Начало стилец блока "Почему мы */

.why-we-block {
  padding-top: 52px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.why-we-block h2 {
  margin-bottom: 21px;;
}

.why-we-block p {
  margin-bottom: 35px;
  text-align: center;
}

.why-we__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.why-we__list li {
  padding: 25px 110px 30px;
  width: 33%;
}

.why-we__list a {
  display: inline-block;
  text-align: center;
}

.why-we__list svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
  width: 60px;
  height: 60px;
  fill: #092f3e;
}

/* Конец стилей "Почему мы" */

/* Начало стилей "Готовы к сотрудничеству" */

.cooperate-block {
  padding-top: 56px;
  padding-bottom: 84px;
}

.cooperate-block h2 {
  margin-bottom: 22px;
}

.cooperate-block .btn {
  margin: 0 auto;
  margin-top: 28px;
  padding: 12px 35px;
  display: block;
}


/* --------------- Страница "Разработка веб приложений" --------------- */


/* Начало стилей "Описание текущей услуги" */

.web-development header::before {
  background-position: -97px -379px;
}

.this-service__about {
  margin: 0 auto 0 0;
  padding: 31px 2px 120px;
  width: 50%;
  text-align: left;
}

.this-service__about span {
  padding: 1px 14px;
  margin-bottom: 19px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8125rem;
  background-color: rgba(128, 145, 199, 0.5);
  background-image: linear-gradient(to right, rgba(33, 187, 189, 0.45), rgba(128, 145, 199, 0.45));
}

.this-service__about h2 {
  margin-bottom: 12px;
  text-align: left;
}

.this-service__about p {
  line-height: 1.65rem;
}

/* Конец стилей "Описание текущей услуги" */

/* Начало стилей блока "Технологии и инструменты" */

.list-of-technology {
  padding: 63px 0;
}

.list-of-technology h2 {
  padding-left: 0;
  padding-right: 0;
  border-right: 2px solid #15a2be;
}

.list-of-technology h2,
.list-of-technology label {
  text-align: left;
  color: #092f3e;
}

.technology-list__wrapper {
  padding: 7px 8px;
}

.technology-list__wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.technology-list__wrapper li {
  position: relative;
}

.technology-list__wrapper label {
  padding-left: 47px;
  margin-bottom: 11px;
}

.technology-list__wrapper label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 26px;
  width: 26px;
  border: 2px solid #15a2be;
  border-radius: 13px;
}

.technology-list__wrapper label::after {
  position: absolute;
  left: 6px;
  top: 6px;
  height: 14px;
  width: 14px;
  background-color: #15a2be;
  border-radius: 7px;
}

#technology-1:checked ~ ul label[for="technology-1"],
#technology-2:checked ~ ul label[for="technology-2"],
#technology-3:checked ~ ul label[for="technology-3"],
#technology-4:checked ~ ul label[for="technology-4"],
#technology-5:checked ~ ul label[for="technology-5"],
#technology-6:checked ~ ul label[for="technology-6"] {
  color: #15a2be;
}

#technology-1:checked ~ ul label[for="technology-1"]::after,
#technology-2:checked ~ ul label[for="technology-2"]::after,
#technology-3:checked ~ ul label[for="technology-3"]::after,
#technology-4:checked ~ ul label[for="technology-4"]::after,
#technology-5:checked ~ ul label[for="technology-5"]::after,
#technology-6:checked ~ ul label[for="technology-6"]::after {
  content: '';
}

.current-technology__about {
  padding: 37px 42px;
  background-color: #ffffff;
}

.current-technology__about p {
  padding: 5px 12px;
  line-height: 1.65rem;
}

/* Конец стилей блока "Технологии и инструменты" */

/* Начало стилей блока "Перечисление технологи" */

.enumeration-technology {
  margin: 0;
  padding: 0;
  list-style: none;
}

.enumeration-technology li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enumeration-technology li:nth-child(3n) {
  flex-direction: row-reverse;
}

.enumeration-technology li:nth-child(3n) div {
  margin: 0;
  margin-left: auto;
}

.enumeration-technology section {
  padding: 108px 30px 92px;
}

.enumeration-technology li:not(:nth-child(2n)) section,
.enumeration-technology li:not(:nth-child(2n)) img {
  background-color: #ffffff;
  width: 50%;
}

.enumeration-technology li:not(:nth-child(2n)) div {
  width: 580px;
}

.enumeration-technology p {
  text-align: center;
}

.enumeration-technology li:not(:nth-child(2n)) h2,
.enumeration-technology li:not(:nth-child(2n)) p {
  text-align: left;
}

/* Конец стилей блока "Перечисление технологи" */

/* Начала стилей блока "Экспертиза" */

.expertise-block {
  padding-top: 57px;
  padding-bottom: 112px;
}

.web-development .services__list li:last-child div {
  padding: 83px 43px 37px;
}

/* Конец стилей блока "Экспертиза" */

/* Начало стилей блока "Наши проекты по разработке веб-приложений" */

.web-projects-block {
  padding-top: 55px;
  padding-bottom: 65px;
  margin-bottom: 55px;
  background-color: #ffffff;
}

.web-projects-block .container {
  padding: 0;
}

.web-projects-block__title {
  margin-bottom: 29px;
}

.web-projects-block__text {
  margin-bottom: 58px;
}

.web-projects-block__list {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.web-projects-block__list li {
  position: relative;
}

.web-projects-block__list li:first-child {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.web-projects-block__list .image__caption {
  position: absolute;
  padding: 30px 43px 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.web-projects-block__list .image__caption h3 {
  font-size: 1.25rem;
  color: #15a2be;
  text-transform: uppercase;
}

.web-projects-block__list .image__caption p {
  font-size: 1.0625rem;
}

.small-image__caption-wrapper {
  margin-top: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.web-projects-carousel .carousel-control {
  color: #15a2be;
}

.web-projects-carousel .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.1);
}

.web-projects-carousel .carousel-indicators li.active {
  background-color: #15a2be;
}

.web-projects-carousel .carousel-indicators {
  bottom: -23px;
  left: 13px;
}

/* Конец стилей блока "Портфолио" */

/* Начало стилей блока "Почему мы" */

